html, body {
    height: 100%;
}
body {
    margin: 0;
    background: #fffef9;
    font-family: montserrat, arial;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-left {
    position: absolute;
    left: 20%;
}

.my-name {
    font-size: 5em;
    font-weight: bold;
    color: #373737;
}

.banner {
    width: 28rem;
}

.small-banner {
    width: 11rem;
    height: 100%;
}

.image-links {
    margin-top: 5px;
    margin-left: 20px;
    width: 0;
}

.my-link {
    margin: 5px;
    text-decoration: none;
    color: #373737;
    display: block;
}

my-link.nice-button:hover {
    color: #1a1a1a;
}
